---
import "../styles/global.css";
---

<div class="flex justify-between items-center pt-4 border-t border-zinc-700">
  <p class="text-lg text-zinc-200">
    Portfolio template created by <a
      class="text-zinc-100 hover:underline"
      href="https://github.com/garaven/portfolio">@garaven</a
    >
  </p>
  <span class="text-zinc-200">2025</span>
</div>
