---
import Github from "@assets/icons/github.astro";
import Email from "@assets/icons/email.astro";
import ContainerHover from "@components/ContainerHover.astro";
import Codepen from "@assets/icons/codepen.astro";
import "../styles/global.css";
---

<nav class="w-full flex justify-end">
  <div class="flex gap-3 items-center">
    <ContainerHover link="mailto:iretoncat@gmail.com" title="Email">
      <Email />
    </ContainerHover>
    <ContainerHover link="https://github.com/catIreton" title="Github">
      <Github />
    </ContainerHover>
    <ContainerHover link="https://codepen.io/asifelse" title="Codepen">
      <Codepen />
    </ContainerHover>
  </div>
</nav>
