---
import ProjectCard from "@components/ProjectCard.astro";
import React from "@assets/icons/react.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Projects</h2>
  <hr class="mb-6 border-zinc-600" />

  <ProjectCard
    projectTitle="Drug Wars Remake"
    projectDescription="Recreation of the 1984 Drug Wars game but set in Kansas City"
    projectLink="https://github.com/catIreton/drugwars"
    image="/images/street-wars-classic.png"
  >
    <React />
  </ProjectCard>
</section>
