---
import ProjectCard from "@components/ProjectCard.astro";
import Typescript from "@assets/icons/typescript.astro";
import React from "@assets/icons/react.astro";
import Supabase from "@assets/icons/supabase.astro";
import Tailwind from "@assets/icons/tailwind.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Projects</h2>
  <hr class="mb-6 border-zinc-600" />

  <ProjectCard
    projectTitle="Drug Wars Remake"
    projectDescription="Recreation of the 1984 Drug Wars game but set in Kansas City"
    projectLink=""
    image=""
  >
    <React />
    <Supabase />
    <Tailwind />
    <Typescript />
  </ProjectCard>
</section>
